extends layout/lk.pug

block variables
    - lkPage = 'Рекомендации';
    - isLogin = true;
    - isCourse = false;

mixin lkFiveGrade(name = 'a', num = 0)
    .lkFiveGrade
        .lkFiveGrade__label 1
        .lkFiveGrade__line
            each active, i in [1,2,3,4,5]
                - pref = name+'-'+i
                if active == num
                    input(id=pref name=name type="radio" value=num checked)
                else
                    input(id=pref name=name type="radio" value=num)
                label(for=pref)
        .lkFiveGrade__label 5

block lkcontent
    .lkContent__title Рекомендации

    .whiteBox
        .whiteBox__title Анкета подбора рекомендаций
        .whiteBox__sub Оцените по пятибалльной шкале, насколько соответствуют вашим профессиональным качествам эти утверждения

        .form
            label.form__label Знаю методы проверки информации
            .form__row
                +lkFiveGrade

            label.form__label Знаю методы проверки источников информации
            .form__row
                +lkFiveGrade('1', 3)

            label.form__label Знаю о “ловушках” сознания и когнитивных искажениях
            .form__row
                +lkFiveGrade('2', 1)

            label.form__label Знаю инструменты критиеского анализа
            .form__row
                +lkFiveGrade('3', 5)

            label.form__label Умею  определять манипуляции
            .form__row
                +lkFiveGrade('4', 2)

            label.form__label Умею противодействовать информационному “шуму”
            .form__row
                +lkFiveGrade('5', 4)

    .lkContent__footer
        a.btn.btn_link(href="#") Назад
        a.btn.btn_primary(href="#") Подобрать рекомендации
